<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <link rel="stylesheet" href="../assets/CSS/main.css">
    <link rel="stylesheet" href="../assets/CSS/grid.css">
    <link rel="stylesheet" href="../assets/CSS/base.css">
    <link rel="stylesheet" href="../assets/CSS/responsive.css">
    <link rel="stylesheet" href="../Assets/Bootstrap/css/bootstrap.min.css">
    <link rel="stylesheet" href="../assets/FONTS/fontawesome-free-6.6.0/fontawesome-free-6.6.0-web/css/all.min.css">

    <title>Đăng nhập tài khoản</title>
</head>

<body>

<header>
    <div class="w-100">
        <div class="header-allProduct">

            <img src="../Assets/IMG/breadcrumb.jpg"
                 alt=""
                 class="header-allProduct-img">

            <div class="radient">

                <div class="header-gioiThieu-block">

                    <h3>Đăng nhập</h3>

                    <ul>
                        <li>
                            <a href="/">Trang chủ</a>
                        </li>

                        <li>
                            <i class="fa-solid fa-angle-right"></i>
                        </li>

                        <li>Đăng nhập</li>
                    </ul>

                </div>

            </div>
        </div>
    </div>
</header>

<content>

    <div class="container">

        <div class="Login-list">

            <div class="Register__header">

                <a href="/login"
                   class="Register-LoginNav active">
                    Đăng Nhập
                </a>

                <a href="/register"
                   class="Register-RegisterNav">
                    Đăng Ký
                </a>

            </div>

            <form action="/login" method="post">

                <div class="Register__body">

                    <div class="Register-titleLogin">
                        Đăng Nhập
                    </div>

                    <input type="text"
                           class="Register-input"
                           name="username"
                           placeholder="Tên đăng nhập"
                           required>

                    <input type="password"
                           class="Register-input"
                           name="password"
                           placeholder="Mật khẩu"
                           required>

                    <p style="color:red"
                       th:text="${error}">
                    </p>

                </div>

                <button type="submit"
                        class="Register-RegisterBtn">
                    Đăng Nhập
                </button>

            </form>

            <div class="Register__footer">

                <a href="/changePassword"
                   class="rePassword">
                    Quên mật khẩu
                </a>

                <p>Hoặc đăng nhập bằng</p>

                <div class="Register__Social">

                    <a href="#" class="Register__Social-link facebookBG">

                        <div class="Register__Social-icon">
                            <i class="fa-brands fa-facebook-f"></i>
                        </div>

                        <div class="Register__Social-text">
                            Facebook
                        </div>

                    </a>

                    <a href="/oauth2/authorization/google" class="Register__Social-link gooleBG">

                        <div class="Register__Social-icon">
                            <i class="fa-brands fa-google"></i>
                        </div>

                        <div class="Register__Social-text">
                            Google
                        </div>

                    </a>

                </div>
            </div>
        </div>
    </div>

</content>

<footer>

    <div class="footer mt-30">

        <div class="container-fluid pd0">

            <div class="footer-background">

                <div class="footer-content">

                    <div class="container">

                        <ul class="footer-content-list">

                            <!-- Item 1 -->
                            <li class="footer-content-item col-lg-4 col-md-4 col-12 mt-20">

                                <div class="footer-content-item__img">
                                    <img src="../Assets/IMG/logo-ft.webp"
                                         alt=""
                                         class="logoft">
                                </div>

                                <div class="footer-content-item_text fw-600">

                                    <p>
                                        Hãy đến với Dola Bakery và hãy để những món bánh tuyệt vời của chúng tôi làm cho cuộc sống bạn thêm ngọt ngào
                                    </p>

                                </div>

                                <div class="footer-content-item__pay">
                                    <p class="fs-2rem">Hình Thức Thanh Toán</p>
                                </div>

                                <div class="footer-content-item__pay-img">

                                    <img src="../Assets/IMG/payimg-1.webp"
                                         alt=""
                                         class="payImg">

                                    <img src="../Assets/IMG/payimg-2.webp"
                                         alt=""
                                         class="payImg">

                                    <img src="../Assets/IMG/payimg-3.webp"
                                         alt=""
                                         class="payImg">

                                </div>

                            </li>

                            <!-- Item 2 -->
                            <li class="footer-content-item col-lg-2 col-md-2 fw-600 col-12 mt-20">

                                <h3 class="fs-2rem">Chính Sách</h3>

                                <p class="fs-16rem">Trang chủ</p>
                                <p class="fs-16rem">Sản phẩm</p>
                                <p class="fs-16rem">Liên hệ</p>
                                <p class="fs-16rem">Tin tức</p>
                                <p class="fs-16rem">Giỏ hàng</p>

                            </li>

                            <!-- Item 3 -->
                            <li class="footer-content-item col col-ld-3 col-md-3 fw-600 col-12 mt-20">

                                <h3 class="fs-2rem">Thông tin chung</h3>

                                <p class="fs-16rem">
                                    <span class="fs-16rem">Địa chỉ: </span>
                                    70 Lữ Gia, Phường 15, Quận 11, TP.HCM
                                </p>

                                <p class="fs-16rem">
                                    <span class="fs-16rem">Điện thoại: </span>
                                    1900 6750
                                </p>

                                <p class="fs-16rem">
                                    <span class="fs-16rem">Email: </span>
                                    support@sapo.vn
                                </p>

                                <h4 class="fs-16rem">Liên kết sàn</h4>

                                <ul class="img-pay-list">

                                    <li class="img-pay-item">
                                        <img src="../Assets/IMG/shopee.webp"
                                             alt=""
                                             class="img-pay-item-shopee">
                                    </li>

                                    <li class="img-pay-item">
                                        <img src="../Assets/IMG/lazada.webp"
                                             alt=""
                                             class="img-pay-item-lazada">
                                    </li>

                                    <li class="img-pay-item">
                                        <img src="../Assets/IMG/tiki.webp"
                                             alt=""
                                             class="img-pay-item-tiki">
                                    </li>

                                    <li class="img-pay-item">
                                        <img src="../Assets/IMG/sendo.webp"
                                             alt=""
                                             class="img-pay-item-sendo">
                                    </li>

                                </ul>

                            </li>

                            <!-- Item 4 -->
                            <li class="footer-content-item col col-ld-3 col-md-3 col-12 mt-20">

                                <h3 class="fs-2rem">Hỗ trợ</h3>

                                <span class="fw-600 fs-16rem">
                                    MUA ONLINE (08:00 - 21:00 mỗi ngày)
                                </span>

                                <h5>
                                    <a href="tel:19006750">19006750</a>
                                </h5>

                                <p class="fw-600 fs-16rem">
                                    Tất cả các ngày trong tuần (Trừ tết Âm Lịch)
                                </p>

                                <span class="fw-600 fs-16rem">
                                    GÓP Ý & KHIẾU NẠI (08:30 - 20:30)
                                </span>

                                <h4>Mạng xã hội</h4>

                                <ul class="img-socials-list">

                                    <li class="img-socials-item">
                                        <img src="../Assets/IMG/zalo.webp"
                                             alt=""
                                             class="img-socials-item-zalo">
                                    </li>

                                    <li class="img-socials-item">
                                        <img src="../Assets/IMG/facebook.webp"
                                             alt=""
                                             class="img-socials-item-facebook">
                                    </li>

                                    <li class="img-socials-item">
                                        <img src="../Assets/IMG/youtube.webp"
                                             alt=""
                                             class="img-socials-item-youtube">
                                    </li>

                                    <li class="img-socials-item">
                                        <img src="../Assets/IMG/google.webp"
                                             alt=""
                                             class="img-socials-item-google">
                                    </li>

                                </ul>

                            </li>

                        </ul>

                    </div>

                </div>

                <div class="footer-footer">

                    <span>
                        Bản quyền thuộc về
                        <p>Dola theme</p>.
                        Cung cấp bởi

                        <a href="https://www.sapo.vn/?utm_campaign=cpn:kho_theme-plm:footer&utm_source=Tu_nhien&utm_medium=referral&utm_content=fm:text_link-km:-sz:&utm_term=&campaign=kho_theme-sapo">
                            Dola
                        </a>

                    </span>

                </div>

            </div>

        </div>

    </div>

</footer>

<script src="../Assets/JS/login.js"></script>
<script src="../Assets/JS/main.js"></script>

</body>
</html>
